@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    font-family: 'Press Start 2P', cursive;
}
#mainCanvas {
    background-color: #ddeeff;
}
#mapCanvas {
    background-color: #aabbcc;
}
#roomDescriptionContainer {
    background-color: #bbaacc;
}
#mobDescriptionContainer {
    background-color: #ccbbaa;
}
#playerDescriptionContainer {
    background-color: #ccaabb;
}